<p>ingredients works!</p>

<div class="card mb-0">
  <div class="row no-gutters">
    <div class="col-sm-3">
      <button type="button"><fa-icon [icon]="faCloudMeatball"></fa-icon></button>
    </div>
    <div class="col-sm-3">
        <h5 class="card-title">Meat</h5>
    </div>
    <div class="col-sm-3">
        <p class="card-text">{{meatNumber}}x</p>
    </div>
    <div class="col-sm-3">
      <button type="button"><fa-icon [icon]="faTrash"></fa-icon></button>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-sm-3">
      <button type="button"><fa-icon [icon]="faCheese"></fa-icon></button>
    </div>
    <div class="col-sm-3">
      <h5 class="card-title">Cheese</h5>
    </div>
    <div class="col-sm-3">
      <p class="card-text">{{cheeseNumber}}x</p>
    </div>
    <div class="col-sm-3">
      <button type="button"><fa-icon [icon]="faTrash"></fa-icon></button>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-sm-3">
      <button type="button"><fa-icon [icon]="faLeaf"></fa-icon></button>
    </div>
    <div class="col-sm-3">
      <h5 class="card-title">Salad</h5>
    </div>
    <div class="col-sm-3">
      <p class="card-text">{{saladNumber}}x</p>
    </div>
    <div class="col-sm-3">
      <button type="button"><fa-icon [icon]="faTrash"></fa-icon></button>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-sm-3">
      <button type="button"><fa-icon [icon]="faBacon"></fa-icon></button>
    </div>
    <div class="col-sm-3">
      <h5 class="card-title">Bacon</h5>
    </div>
    <div class="col-sm-3">
      <p class="card-text">{{baconNumber}}x</p>
    </div>
    <div class="col-sm-3">
      <button type="button"><fa-icon [icon]="faTrash"></fa-icon></button>
    </div>
  </div>
</div>

